.auth-container {
    min-height: 100vh;
    background-image: linear-gradient(51.22deg, rgba(47, 140, 96, 0.63) -22.39%, rgba(0, 0, 0, 0.6237) 61.76%), url("./assets/auth-bg.png");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-container {
    background-color: #009247;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 300px;
}